@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body,
pre {
  font-family: "Helvetica", sans-serif !important;
}

.selected-year,
.selected-title {
  text-decoration: underline;
}

.NavBar {
  padding-top: 20%;
  padding-left: 20%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.years-list,
.titles-list {
  padding: 5px;
}

.year-tile,
.title-tile {
  margin-bottom: 10px;
}

.navlink {
  text-decoration: none;
  color: #000;
  padding-bottom: 5%;

  &:hover {
    background-color: lightgray;
    color: #000;
  }
}

.instagram {
  height: 15%;
  width: 15%;
}

.display {
  padding: 5%;
}

.carousel-indicators,
.carousel-control-next,
.carousel-control-prev {
  display: none !important;
}

.carousel img,
.image-tile img {
  height: 60vh !important;
  width: auto;
  object-fit: contain;
}

.images-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-tile-details {
  text-align: center;
  padding: 5%;
}

.image-options {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

form {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.scrollable-column {
  height: 90vh;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.about {
  height: 90vh;
  width: 80%;
}

.scrollable-pre {
  overflow-y: auto;
  white-space: pre-wrap;
}
